<form (submit)="signUp(authForm)" #authForm="ngForm" class="form">
    <mat-form-field class="example-full-width">
        <mat-label>Login</mat-label>
        <input matInput ngModel type="text" name="login" >
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput ngModel  name="password">
    </mat-form-field>
    
    <div class="btn-wrapper">
        <button  mat-raised-button color="accent" type="submit">{{ getAuthState() }}</button>
    </div>
</form>